---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import data_billede from "../assets/images/data_billede.webp";
---
<MainLayout title="Titel">
	<article>
		<h1>Udviklingen i Folkekirken-medlemskab</h1>
		
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
		<Image src={data_billede} alt=""></Image>
		<p> Viser udviklingen i Folkekirken-medlemmer (grøn) og ikke-medlemmer (rød). Selvom befolkningen vokser, falder antallet af medlemmer en smule, mens ikke-medlemmer stiger markant.</p>
		<Button>Læs mere</Button>
	</article>
</MainLayout>